{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'mdui-v1.0.1/css/mdui.min.css' %}">
    <script type="text/javascript" src="{% static 'public/echarts.min.js' %}"></script>
</head>
<body class="mdui-appbar-with-toolbar mdui-drawer-body-left">
<div class="mdui-toolbar mdui-shadow-4 mdui-appbar-fixed">
    <span class="mdui-typo-title">基于校园外卖平台的大数据分析与可视化</span>
    <div class="mdui-toolbar-spacer"></div>
</div>
<div class="mdui-drawer">
    <ul class="mdui-list" mdui-collapse="{accordion: true}">
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon"></i>
            <div class="mdui-list-item-content"><a href="{{ host }}">获取最新数据</a></div>
        </li>
        <li class="mdui-collapse-item {{ state.0 }}">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon"></i>
                <div class="mdui-list-item-content">店铺数据</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                <li class="mdui-list-item mdui-ripple"><a href="{{ host }}/MostPopularStore">最受欢迎的店铺排行</a>
                </li>
                <li class="mdui-list-item mdui-ripple"><a href="{{ host }}/MonthlySalesRank">店铺月销量排行</a></li>
                <li class="mdui-list-item mdui-ripple"><a href="{{ host }}/MonthlyTurnoverRank">店铺月营业额排行</a>
                </li>
                <li class="mdui-list-item mdui-ripple"><a href="{{ host }}/TotalTurnoverAll">店铺总营业额排行</a>
                </li>
            </ul>
        </li>
        <li class="mdui-collapse-item {{ state.1 }}">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon"></i>
                <div class="mdui-list-item-content">商品数据</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                <li class="mdui-list-item mdui-ripple"><a href="{{ host }}/CommodityRank">商品月销量排行</a></li>
                <li class="mdui-list-item mdui-ripple"><a href="{{ host }}/GoodsMonthlyTurnover">商品月销量</a>
                </li>
                <li class="mdui-list-item mdui-ripple"><a
                        href="{{ host }}/GoodsMonthlyTurnoverRank">商品月营业额排行</a></li>
            </ul>
        </li>
        <li class="mdui-collapse-item {{ state.2 }}">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon"></i>
                <div class="mdui-list-item-content">个人数据</div>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                <li class="mdui-list-item mdui-ripple"><a href="{{ host }}/PersonalAnalysis">个人消费分析</a></li>
            </ul>
        </li>
    </ul>
</div>
<div id="jd" class="mdui-progress" style="display: none">
    <div class="mdui-progress-indeterminate"></div>
</div>
<div style="width:600px;height:75vh;margin-top: 15vh" class="mdui-center ">
    <h1 class="mdui-center" style="font-family: 新宋体;font-size: 30px">基于校园外卖平台的大数据分析与可视化</h1>
    <hr/>
    <h3 class="mdui-center" style="font-family: 新宋体;font-size: 20px"> 基于校园外卖平台的大数据分析与可视化数据来源采集自校园外卖平台</h3>
    <h3 class="mdui-center" style="font-family: 新宋体;font-size: 20px"> 采用了Django作为Python的后端框架</h3>
    <h3 class="mdui-center" style="font-family: 新宋体;font-size: 20px"> 使用Pandas库对数据进行处理</h3>
    <h3 class="mdui-center" style="font-family: 新宋体;font-size: 20px"> 使用Pycharts库向页面渲染图像</h3>
    <h3 class="mdui-center" style="font-family: 新宋体;font-size: 20px"> 点击按钮已更新数据（非必要）</h3>
    <div style="display: {{ state.0  }}">
        <button class="mdui-btn mdui-btn-icon mdui-color-blue mdui-center mdui-ripple" style="width: 60px;height: 60px;"
                onclick="document.getElementById('jd').style.setProperty('display','block');console.log(1);
            window.location='{{ host }}/Init/'">
            <i class="mdui-icon material-icons">arrow_forward</i>
        </button>
    </div>
    <div style="display: {{ state.1 }}">
        <button class="mdui-btn mdui-btn-icon mdui-color-green mdui-center mdui-ripple" style="width: 60px;height: 60px;">
            <i class="mdui-icon material-icons">done_all</i>
        </button>
    </div>
</div>
<script src="{% static 'mdui-v1.0.1/js/mdui.min.js' %}"></script>
<script>

</script>
</body>
</html>